.advantages__wrapper {
  border: black solid 1px;
}

.advantages__item {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 46%;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 73px;
    justify-content: space-between;
    padding-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.advantages__title {
  .font-style();
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 16px;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 81px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 97px;
    padding-left: 0;
    padding-right: 63px;
    padding-bottom: 116px;
  }
}

.advantages__item--leaf::before {
  content: "";
  background-image: url("../img/leaf.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/leaf-tablet.svg");
    height: 80px;
    width: 80px;
    bottom: 121px;
    top: 0;
  }
}

.advantages__item--leaf::after {
  @media (min-width: @tablet-width) {
    content: "1";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    font-size: 282px;
    .font-style();
    top: -107px;
    left: 118px;
    color: @grey-color;
    z-index: -1;
  }
}

.advantages__item--flour::before {
  content: "";
  background-image: url("../img/flour.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/flour-tablet.svg");
    height: 80px;
    width: 80px;
    bottom: 121px;
    top: 0;
  }
}

.advantages__item--flour::after {
  @media (min-width: @tablet-width) {
    content: "2";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    font-size: 282px;
    .font-style();
    top: -107px;
    left: 112px;
    color: @grey-color;
    z-index: -1;
  }
}

.advantages__item--fork::before {
  content: "";
  background-image: url("../img/fork.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/fork-tablet.svg");
    height: 80px;
    width: 80px;
    bottom: 121px;
    top: 0;
  }
}

.advantages__item--fork::after {
  @media (min-width: @tablet-width) {
    content: "3";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    font-size: 282px;
    .font-style();
    top: -107px;
    left: 112px;
    color: @grey-color;
    z-index: -1;
  }
}

.advantages__item--clock::before {
  content: "";
  background-image: url("../img/clock.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/clocks-tablet.svg");
    height: 80px;
    width: 80px;
    bottom: 121px;
    top: 0;
  }
}

.advantages__item--clock::after {
  @media (min-width: @tablet-width) {
    content: "4";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    font-size: 282px;
    .font-style();
    top: -107px;
    left: 112px;
    color: @grey-color;
    z-index: -1;
  }
}
