.advantages {
  padding-bottom: 30px;
}

.advantages__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.advantages__item {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.advantages__title {
  .font-style();
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 81px;
}

.advantages__item--leaf::before {
  content: "";
  background-image: url("../img/leaf.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;
}

.advantages__item--flour::before {
  content: "";
  background-image: url("../img/flour.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;
}

.advantages__item--fork::before {
  content: "";
  background-image: url("../img/fork.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;
}

.advantages__item--clock::before {
  content: "";
  background-image: url("../img/clock.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;
}
