.catalog {
  max-width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}

.catalog__title {
  .font-style();
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 28px;
  margin-bottom: 39px;
  margin-left: 19px;
}

.catalog__item {
  display: flex;
  border-top: solid 1px @grey-color;
  padding: 7px 20px;
  justify-content: end;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin: auto;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    width: 245px;
  }
}

.catalog__item:last-child {
  @media (min-width: @tablet-width) {
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
  }
}

.catalog__item-name {
  .font-style();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 78px;
  margin-bottom: 13px;
}

.catalog__table,
.catalog__more {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #444444;
  width: 140px;
  margin: 0;
}

.catalog__table td:first-child {
  text-align: left;
}

.catalog__table td:nth-child(2n) {
  text-align: right;
}

.catalog__button {
  padding: 10px 0;
  width: 280px;
  margin-top: 19px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.catalog__picture {
  width: 140px;
  height: 116px;
}

.catalog__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
