.catalog {
  max-width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}

.catalog__wrapper {
  @media (min-width: @desktop-width) {
    padding-top: 32px;
  }
}

.catalog__title {
  .font-style();
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 26px;
  margin-bottom: 12px;
  margin-left: 19px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 56px;
    margin-left: 0;
    margin-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 72px;
    margin-bottom: 0;
  }
}

.catalog__item {
  display: flex;
  border-top: solid 1px #f2f2f2;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 7px 20px 7px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    width: 324px;
    background: linear-gradient(0deg, #f2f2f2 82%, transparent 82%);
    border: none;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-top: 56px;
    background: linear-gradient(0deg, #f2f2f2 85%, transparent 85%);
    margin-bottom: 12px;
  }
}

.catalog__item-name {
  .font-style();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 78px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 28px;
    padding-left: 7px;
    width: 155px;
    margin: auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 33px;
  }
}

.catalog__table,
.catalog__more {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #444444;
  width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    width: 254px;
    margin: auto;
    margin-top: 15px;
    min-height: 96px;
  }

  @media (min-width: @desktop-width) {
    width: 171px;
  }
}

.catalog__table td:first-child {
  text-align: left;
}

.catalog__table td:nth-child(2n) {
  text-align: right;
}

.catalog__button {
  padding: 10px 0;
  width: 280px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin: auto;
    width: 247px;
    margin-top: 31px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.catalog__button-more {
  background-color: @grey-color;
  color: #666666;
}

.catalog__picture {
  display: block;
  margin: auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: -16px;
    left: -136px;
  }

  @media (min-width: @desktop-width) {
    left: 11px;
    bottom: -8px;
  }
}

.catalog__picture-frame {
  width: 140px;
  min-height: 111px;
  margin-top: 26px;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 202px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 324px;
    margin-top: 0;
    min-height: 203px;
    position: relative;
  }
}

.catalog__picture-frame picture {
  position: absolute;
  bottom: 17px;
  left: 31px;
}

.catalog__description {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin-top: 41px;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
  }
}

.catalog__item--all {
  border-bottom: solid 1px @grey-color;
  padding-bottom: 24px;
  margin-bottom: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 429px;
    padding-bottom: 0;
    margin-bottom: 48px;
    border: none;
    background: #ffffff;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    height: 506px;
    background: #ffffff;
  }
}

.catalog__item--all::before {
  content: "";
  background-image: url("../img/plus.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  top: 24px;
  right: 145px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/plustablet.svg");
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    top: 145px;
    right: 130px;
  }

  @media (min-width: @desktop-width) {
    top: 127px;
    right: 91px;
  }
}

.catalog__item--all::after {
  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    height: 426px;
    width: 320px;
    border: 2px solid @grey-color;
    top: 97px;
    right: 0px;
  }

  @media (min-width: @desktop-width) {
    width: 241px;
    top: 77px;
    right: 0;
  }
}

.catalog__item--all h2 {
  margin: auto;
  width: 280px;
  margin-top: 71px;
  margin-left: 40px;

  @media (min-width: @tablet-width) {
    width: 179px;
    margin: 225px auto auto;
    padding-right: 5px;
    margin-bottom: -5px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 201px;
    margin-bottom: 0;
  }
}

.catalog__item--all p {
  width: 280px;
  margin-top: 9px;
  margin-left: 29px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 226px;
    margin: 19px auto auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 226px;
    margin-top: 20px;
    margin-left: 11px;
    text-align: center;
    margin-bottom: 0;
  }
}

.catalog__item--all a {
  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    margin-top: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}

.catalog__item--all a:hover {
  background-color: #ebebeb;
  color: #444444;
}

.catalog__item--all a:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}

.catalog__row td {
  @media (min-width: @tablet-width) {
    border-bottom: solid 1px #cdcdcd;
  }
}
