.copyright__link {
  display: flex;
  justify-content: center;
  position: relative;
}

.copyright__link::before {
  content: "";
  background-image: url("../img/logo_html_mobile.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 56px;
  width: 282px;
  top: 23px;

  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("../img/logo_html_tablet.svg");
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 182px;
    top: 57px;
    left: -71px;
  }
}
