.copyright__link {
  display: flex;
  justify-content: center;
  position: relative;
}

.copyright__icon {
  width: 281px;
  height: 34px;

  @media (min-width: @tablet-width) {
    width: 163px;
    height: 34px;
  }
}
