.diet-program__wrapper {
  border: black solid 1px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.diet-program__title {
  .font-style();
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.diet-program__item--slim::before {
  content: "";
  background-image: url("../img/cat_back.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.diet-program__item--pro::before {
  content: "";
  background-image: url("../img/cat__after.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.diet-program__item {
  background-color: @grey-color;
  margin-bottom: 15px;
}

.diet-program__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.diet-program__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.diet-program__link {
  .font-style();
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
