.diet-program__wrapper {
  border: black solid 1px;
}

.diet-program__title {
  .font-style();
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 80px;
}

.diet-program__item--slim::before {
  content: "";
  background-image: url("../img/cat_back.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
}

.diet-program__item--pro::before {
  content: "";
  background-image: url("../img/cat__after.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
}

.diet-program__list {
  padding: 0 20px;
}

.diet-program__item {
  background-color: @second-color;
}

.diet-program__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.diet-program__link {
  .font-style();
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
