.diet-program__wrapper {
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.diet-program__title {
  .font-style();
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 28px;
  margin-left: 90px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 11px;
    margin-left: 54px;
    margin-top: 93px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 216px;
    padding-bottom: 49px;
  }
}

.diet-program__item--slim::before {
  content: "";
  background-image: url("../img/cat_back.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 54px;
  width: 100px;
  top: 20px;
  left: 21px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    background-image: url("../img/cat_back_desktop.svg");
    height: 126px;
    top: 43px;
    left: 56px;
  }
}

.diet-program__item--slim::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("../img/cat__back-tablet.svg");
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    height: 211px;
    width: 200px;
    top: 82px;
    right: 62px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.diet-program__item--pro::before {
  content: "";
  background-image: url("../img/cat__after.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 54px;
  width: 100px;
  top: 22px;
  left: 13px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    background-image: url("../img/cat_after_desktop.svg");
    height: 126px;
    top: 48px;
    left: 37px;
    width: 134px;
  }
}

.diet-program__item--pro::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("../img/cat__after-tablet.svg");
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    height: 211px;
    width: 276px;
    top: 92px;
    right: 20px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.diet-program__item {
  background-color: @grey-color;
  margin-bottom: 22px;
  position: relative;
  min-height: 265px;

  @media (min-width: @tablet-width) {
    min-height: 374px;
    width: 708px;
    margin: auto;
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
  }
}

.diet-program__item--pro {
  margin-bottom: 0;
}

.diet-program__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.diet-program__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 5px 20px;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 35px;
    width: 372px;
    margin-left: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 463px;
    padding-bottom: 11px;
  }
}

.diet-program__item--pro p {
  @media (min-width: @tablet-width) {
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    width: 447px;
  }
}

.diet-program__link {
  .font-style();
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: 19px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 53px;
  }
}
