.example {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.example__wrapper {
  background-color: @grey-color;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.example__stats {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.example__compare {
  background-color: @grey-color;
  padding-top: 42px;
}

.example__title {
  .font-style();
  font-size: 36px;
  line-height: 32px;
  color: #000000;
  padding-bottom: 7px;
}

.example__history {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__item {
  display: flex;
  flex-direction: column;
  min-width: 124px;
  padding-top: 24px;
}

.example__number {
  .font-style();
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.example__item--cost {
  .font-style();
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  padding-top: 5px;
}
