.footer {
  max-width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 14400px;
  }
}

.footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__contacts {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-left: 41px;
    margin: auto;
    padding-top: 42px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.footer__copyright {
  background-color: @grey-color;
  min-height: 77px;
}

.footer__social {
  background-color: @grey-color;
  min-height: 63px;
  padding: 0 74px;
  padding-top: 25px;
}

.footer__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 26px;
  background-color: @grey-color;

  @media (min-width: @tablet-width) {
    margin-left: 32px;
    padding-top: 59px;
    padding-bottom: 58px;
  }
}

.footer__map {
  min-height: 362px;
  display: flex;
  width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    min-height: 400px;
    margin: 0;
    width: 768px;
  }

  @media (min-width: @tablet-width) {
    min-height: 400px;
    margin: 0;
    width: 1440px;
  }
}
