.footer {
  max-width: 320px;
  margin: auto;
  background-image: linear-gradient(white 30%, @grey-color 70%);

  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    position: relative;
  }
}

.footer__wrapper {
  background-color: @grey-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.footer__contacts {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 320px;
  margin: auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 41px;
    margin: auto;
    padding-top: 42px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 530px;
    position: absolute;
    top: 91px;
    left: 113px;
  }
}

.footer__copyright {
  background-color: @grey-color;
  min-height: 77px;
  border-top: 1px solid #cdcdcd;
  width: 280px;
  margin: auto;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    border-top: none;
    width: 123px;
    margin: 0;
    padding-top: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    margin-right: 108px;
    margin-top: 0px;
  }
}

.footer__social {
  background-color: @grey-color;
  padding: 0 93px;
  padding-top: 24px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 60px;
    padding-right: 137px;
    padding-left: 111px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 112px;
  }
}

.footer__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 34px;
  text-align: center;
  padding-bottom: 27px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #cdcdcd;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 190px;
    margin: 0;
    padding-top: 61px;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 81px;
    margin-top: 0px;
  }
}

.footer__img {
  width: 128px;
  height: 29px;

  @media (min-width: @desktop-width) {
    height: 24px;
  }
}

.footer__map {
  min-height: 362px;
  display: flex;
  width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    min-height: 400px;
    margin: 0;
    width: 768px;
  }

  @media (min-width: @tablet-width) {
    min-height: 400px;
    margin: 0;
    width: 1440px;
  }
}
