.goods {
  padding-top: 5px;
}

.goods__wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 69%;
  }
}

.goods__title {
  .font-style();
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 38px;
    margin-top: 67px;
  }
}

.goods__list {
  margin: auto;
  margin-top: 35px;
  width: 280px;
  padding: 15px 20px;

  @media (min-width: @tablet-width) {
    border: solid 1px @grey-color;
    width: 632px;
    padding: 0 37px;
  }
}

.goods__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 1px @grey-color;
  align-items: baseline;
}

.goods__item:last-child {
  border-bottom: solid 1px @grey-color;
}

.goods__name {
  .font-style();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 27px;
  }
}

.goods__stat,
.goods__price {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.goods__button {
  padding: 10px 0;
  width: 280px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 632px;
    margin-top: 23px;
    font-size: 16px;
  }
}

.goods-all__button {
  display: block;
  padding-top: 186px;
  padding-bottom: 42px;
  width: 280px;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  margin-top: 24px;
  margin-bottom: 34px;

  @media (min-width: @desktop-width) {
    padding-bottom: 185px;
  }
}

.goods-all__button p {
  width: 196px;
  margin: auto;
}

.goods__all {
  @media (min-width: @desktop-width) {
    width: 25%;
  }
}
