.nav {
  width: auto;
}

.nav__item {
  text-align: center;
  margin-right: 34px;

  @media (min-width: @desktop-width) {
    margin-right: 36px;
  }
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  .font-style();
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.nav__list {
  display: none;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    display: flex;
    margin-top: 4px;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    width: 482px;
  }
}
