.nav {
  width: auto;
}

.nav__wrapper {
  border: black solid 1px;
}

.nav__item {
  text-align: center;
}

.nav__link {
  @font-style-base;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
