.owner__wrapper {
  border: black solid 1px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.owner-legend {
  .font-style();
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner__item {
  margin-bottom: 10px;
}

.owner__comment {
  .font-style();
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner__info {
  .fieldset-style();
  border-color: @green-color;
}

.owner__form {
  width: 100%;
}
