.owner__wrapper {
  width: 280px;
  margin: auto;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    width: 632px;
    padding-top: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-top: 32px;
  }
}

.owner-legend {
  .font-style();
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.owner__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 6px;
    margin-right: 76px;
  }
}

.owner__comment {
  .font-style();
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner__info {
  .fieldset-style();
  padding-top: 32px;
  border-top: solid @green-color 2px;
  margin-left: -2px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 21px;
  }
}

.owner__info-contacts {
  padding-bottom: 11px;
}

.owner__list {
  @media (min-width: @tablet-width) {
    margin-top: 46px;
    margin-left: 5px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }
}

.input__label-mail,
.input__label-tel {
  @media (min-width: @desktop-width) {
    width: 90px;
    margin-right: 0;
    flex: none;
  }

  @media (min-width: @desktop-width) {
    width: 88px;
  }
}

.input__form-mail,
.input__form-tel {
  padding-left: 11px;
  padding-top: 5px;
  width: 185px;

  @media (min-width: @desktop-width) {
    width: 450px;
  }
}

.input__form-mail {
  width: 201px;

  @media (min-width: @tablet-width) {
    width: 523px;
    padding-left: 18px;
    padding-top: 7px;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
    padding-left: 13px;
    padding-top: 1px;
  }
}

.input__form-tel {
  @media (min-width: @tablet-width) {
    padding-left: 15px;
    padding-top: 5px;
    width: 511px;
  }

  @media (min-width: @desktop-width) {
    width: 454px;
    padding-top: 5px;
  }
}

.owner__info-comment {
  margin-top: 4px;

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.owner-legend-comment {
  padding-bottom: 6px;
  padding-right: 22px;
}
