.profile__wrapper {
  width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 628px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.profile__item {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.profile__description {
  margin-top: 37px;
  margin-bottom: 39px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 29px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.profile__info {
  border: none;
  border-bottom: solid 1px #f2f2f2;
  margin: auto;
  width: 280px;
  padding: 0 20px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-top: 29px;
    padding: 0;
    width: 708px;
    border-bottom: none;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 643px;
    margin-top: 25px;
  }
}

.input__label,
.input__form {
  .font-style();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input__label {
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 12px;
  }
}

.additionally__label {
  @media (min-width: @desktop-width) {
    margin-left: 37px;
  }
}

.input__form {
  min-height: 38px;

  @media (min-width: @tablet-width) {
    min-height: 40px;
  }

  @media (min-width: @desktop-width) {
    min-height: 46px;
  }
}

.input__form--name {
  width: 208px;
  padding-left: 13px;
  margin-left: 9px;

  @media (min-width: @tablet-width) {
    width: 547px;
    margin-top: 2px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 483px;
    padding-left: 17px;
  }
}

.input__form--weight {
  width: 181px;
  padding-left: 18px;
  margin-left: 9px;

  @media (min-width: @tablet-width) {
    width: 515px;
    padding-left: 18px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 452px;
  }
}

.input__form--age {
  width: 149px;
  padding-left: 16px;
  margin-left: 9px;

  @media (min-width: @tablet-width) {
    width: 473px;
    padding-left: 16px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 413px;
  }
}

.input__form-comment {
  min-height: 138px;
  width: 265px;
  margin: auto;
  padding-top: 7px;
  padding-left: 16px;

  @media (min-width: @tablet-width) {
    width: 608px;
    min-height: 160px;
    margin-top: 45px;
    padding-top: 12px;
    padding-left: 22px;
    margin-left: 71px;
  }

  @media (min-width: @desktop-width) {
    width: 1197px;
    padding-top: 10px;
    padding-left: 18px;
    margin-left: 112px;
    margin-top: 52px;
  }
}

.profile__radio {
  display: none;
}

.profile__radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.profile__radio + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
    margin-right: 20px;
  }
}

.profile__radio:checked + label::after {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  border: 8px solid #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: @tablet-width) {
    top: 11px;
    left: 12px;
  }
}
