.profile__wrapper {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.profile__item {
  margin-bottom: 15px;
}

.profile__description {
  margin-top: 37px;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.profile__info {
  border: none;
  margin-top: 26px;
  padding: 0;
  margin-left: -1px;
}

.input__label,
.input__form {
  .font-style();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.input__label {
  margin-right: 10px;
  margin-top: 14px;
}

.input__form {
  min-height: 38px;
}

.input__form--name {
  width: 219px;
}

.input__form--weight {
  width: 197px;
}

.input__form--age {
  width: 163px;
}

.input__form-comment {
  min-height: 156px;
}
