.promo__wrapper {
  border: black solid 1px;
  background: linear-gradient(#68b738 80%, white 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__description {
  .font-style();
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  .font-style();
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo__select {
  background-color: @base-color;
}
