.promo {
  background-image:linear-gradient
    (rgba(104, 183, 56, 0.8) 60%, rgba(255, 255, 255, 1) 40%,)
    url("../img/index-background-desktop.svg");
  background-repeat: no-repeat;
  width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.promo__wrapper {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 504px;
  background-image: url("../img/index-can-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 168px right;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0;
    background: white;
    min-height: 861px;
    background-image: url("../img/index-can-tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    min-height: 676px;
    background-image: url("../img/index-can-desktop.svg");
    background-repeat: no-repeat;
    background-position: top 41px right 218px;
  }
}

.promo__description {
  .font-style();
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-left: 88px;
    padding-right: 198px;
    padding-bottom: 13px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    width: 426px;
    padding-left: 85px;
    padding-right: 0;
    margin-top: 126px;
  }
}

.promo__slogan {
  .font-style();
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 302px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-right: 251px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 426px;
    margin-top: 17px;
    padding-left: 11px;
    padding-right: 0;
  }
}

.promo__select {
  background-color: @green-color;
  padding: 10px 72px;

  @media (min-width: @tablet-width) {
    padding: 17px 26px;
    margin-left: 82px;
    margin-right: auto;
  }
}
