.social__list {
  display: flex;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    width: 150px;
  }
}

.social__item {
  width: 20px;
  height: 20px;
}

.social__link--vkontakte::before {
  content: "";
  background-image: url("../img/icon_vkontakte.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icon_vkontakte_tablet.svg");
  }
}

.social__link--facebook::before {
  content: "";
  background-image: url("../img/icon_facebook.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icon_facebook_tablet.svg");
  }
}

.social__link--instagram::before {
  content: "";
  background-image: url("../img/icon_instagram.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icon_instagram_tablet.svg");
  }
}
