.social__list {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 159px;
  }
}

.social__item {
  width: 20px;
  height: 20px;
}

.social__link--vkontakte {
  position: relative;
}

.social__link--vkontakte::before {
  content: "";
  background-image: url("../img/icon_vkontakte.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icon_vkontakte_tablet.svg");
    width: 38px;
    left: 14px;
  }
}

.social__link--facebook {
  position: relative;
}

.social__link--facebook::before {
  content: "";
  background-image: url("../img/icon_facebook.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  top: -4px;
  left: -6px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icon_facebook_tablet.svg");
    top: -5px;
    left: -25px;
    height: 30px;
    width: 38px;
  }
}

.social__link--instagram::before {
  content: "";
  background-image: url("../img/icon_instagram.svg");
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icon_instagram_tablet.svg");
    height: 24px;
    width: 38px;
  }
}
