.target__item {
  .font-style();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-top: 11px;
  margin-bottom: 26px;
}

.target__info {
  border: none;
}

.target__item label {
  margin-left: 21px;
}
