.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: @green-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.slider__toggle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px dotted #cdcdcd;
  }
}

input[type="range"] {
  appearance: none;
  width: 83px;
  background-color: @grey-color;

  @media (min-width: @tablet-width) {
    width: 429px;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 6px;
  height: 15px;
  border: 2px solid #cdcdcd;
  background-color: #ffffff;
  padding: 0 4px;

  @media (min-width: @tablet-width) {
    background-color: #dcdcdc;
    height: 6px;
    border: none;
  }
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: @green-color;
  width: 34px;
  height: 7px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    margin-top: 0;
    box-shadow: 0 0 0 13px white, 0 0 0 14px #dcdcdc;
  }
}
